asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
cryptography==36.0.1
Django==4.0.1
idna==3.3
numpy==1.22.0
opencv-python==4.5.5.62
pdfminer.six==20211012
Pillow==9.0.0
pycparser==2.21
requests==2.27.1
sqlparse==0.4.2
tika==1.24
tzdata==2021.5
urllib3==1.26.8
