<!doctype html>
{% load static%}
<html lang="tr">

<head>
    <meta charset="utf-8">


    <link rel="stylesheet" type="text/css" href="{% static  'home/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static  'listele.css'%}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Listemiz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">


</head>

<script>
    function inputlariYollucamBen() {
        yazar_ismi = document.getElementById("real-yazar-isim").value
        yazar_soyismi = document.getElementById("real-yazar-soyad").value
        yazar_no = document.getElementById("real-yazar-no").value
        yazar_ogretim_turu = document.getElementById("real-yazar-ogretim-turu").value


        teslim_tarihi = document.getElementById("real-teslim-donem").value
        if (teslim_tarihi == "Lütfen dönemi seçiniz") {
            teslim_tarihi = "";
        }
        ders_adi = document.getElementById("real-ders-ad").value
        if (ders_adi == "Lütfen ders seçiniz") {
            ders_adi = "";
        }
        proje_basligi = document.getElementById("real-proje-basligi").value
        ozet = document.getElementById("real-ozet").value
        anahtar_kelime = document.getElementById("real-anahtar_kelimeler").value

        document.getElementsByName("yazar_isim")[0].value = yazar_ismi
        document.getElementsByName("yazar_soyad")[0].value = yazar_soyismi
        document.getElementsByName("yazar_numarasi")[0].value = yazar_no
        document.getElementsByName("yazar_ogretim_turu")[0].value = yazar_ogretim_turu
        document.getElementsByName("teslim_donemi")[0].value = teslim_tarihi
        document.getElementsByName("ders_adi")[0].value = ders_adi
        document.getElementsByName("proje_basligi")[0].value = proje_basligi
        document.getElementsByName("ozet")[0].value = ozet
        document.getElementsByName("anahatar_kelimeler")[0].value = anahtar_kelime


        document.getElementById("gizliform").submit()


    }
</script>
<script>
    var liste = ["2010"]
</script>

<style>
    #kullanici .modal-header {
        background: saddlebrown;
        color: #fff;
    }

    #kullanici .modal-body {
        background-color: wheat;
    }

    #kullanici .modal-footer {
        background: saddlebrown;
        color: #fff;
    }

    #gizliform {
        display: none;
    }

    #buton {
        border-color: saddlebrown;
        color: saddlebrown;
    }

    #buton:hover {
        background-color: saddlebrown;
        color: white;
    }

    * {
        font-size: 20px;
        font-weight: bolder;
        box-sizing: border-box;
        margin: 0px;
    }

    body {
        background-color: whitesmoke;
        font-family: 'MonteCarlo', cursive;
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
    }

    h1 {
        font-size: 64px;
    }

    h3 {
        font-size: 36px;
    }


    .container>label {
        background-color: rgb(157, 66, 130);
    }

    .goksel {
        font-size: 75px;
        text-align: center;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: lightblue;
        font-size: 25px;
        font-weight: bolder;
    }

    a :visited {
        color: white;
    }

    a:hover {
        color: white;
    }
</style>

<body>
    <form id="gizliform" action="http://127.0.0.1:8000/content/listele" method="POST">
        {%csrf_token%}
        <!-- AGA YAZAR BURDA -->
        <input type="text" name="yazar_isim">
        <input type="text" name="yazar_soyad">
        <input type="text" name="yazar_numarasi">
        <input type="text" name="yazar_ogretim_turu">
        <!-- AGA PROJE OZELLIKLERI BURDA -->
        <input type="text" name="ozet">
        <input type="text" name="proje_basligi">
        <!-- Dersin İsmi BURDA -->
        <input type="text" name="ders_adi">
        <!-- Dönem BURDA -->
        <input type="text" name="teslim_donemi">
        <!-- Anahtar Kelimeler  BURDA -->
        <input type="text" name="anahatar_kelimeler">





        <input type="submit">




    </form>


    <div class="container-fluid">
        <h1 class="text-center mt-3">Admin Sorgu Ekranına Hoş Geldiniz</h1>
        <div class="row mt-5">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-2">
                    <button type="button" class="btn  px-0 w-100" data-bs-toggle="modal" data-bs-target="#kullanici"
                        id="buton">Kullanıcı</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-primary px-0 w-100" data-bs-toggle="modal"
                        data-bs-target="#yazar">Yazar</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4"></div>
                <div class="col-md-2 col-12">
                    <button type="button" class="btn btn-outline-warning px-0 w-100" data-bs-toggle="modal"
                        data-bs-target="#ders">Ders</button>

                </div>
                <div class=" col-md-2 col-12">
                    <button type="button" class="btn btn-outline-success px-0 w-100" data-bs-toggle="modal"
                        data-bs-target="#proje">Proje</button>

                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4"></div>
                <div class=" col-md-2 col-12">
                    <button type="button" class="btn btn-outline-dark w-100 px-0" data-bs-toggle="modal"
                        data-bs-target="#anahtar">Anahtar kelime</button>

                </div>
                <div class=" col-md-2 col-12">
                    <button type="button" class="btn btn-outline-danger  w-100 px-0" data-bs-toggle="modal"
                        data-bs-target="#donem">Dönem</button>

                </div>
                <div class="col-md-4"></div>
            </div>

        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-5 col-12"></div>
        <div class="col-md-2 col-12">
            <button type="" class="btn btn-outline-info w-100 py-1"><a class="w-100"
                    href="http://127.0.0.1:8000/admin/">
                    Admin panele dön</a></button>
        </div>
        <div class="col-md-5 col-12"></div>
    </div>
    <div class="modal css" id="kullanici">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Kullanıcı sorguları : </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="">
                        <div class="row mb-3">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 ">
                                <label class="form-label ">İsim :</label>
                                <input type="text" id="real-yazar-isim" class="form-control">
                            </div>
                            <div class="col-md-5 ">
                                <label class="form-label ">Soyisim :</label>
                                <input type="text" id="real-yazar-soyad" class="form-control">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 ">
                                <label class="form-label ">Username :</label>
                                <input type="text" id="real-yazar-isim" class="form-control">
                            </div>
                            <div class="col-md-5 ">
                                <label class="form-label ">Şifre :</label>
                                <input type="text" id="real-yazar-soyad" class="form-control">
                            </div>
                            <div class="col-md-1"></div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"></div>

                            <div class="col-md-6 ">
                                <label class="form-label ">Email :</label>
                                <input type="text" id="real-yazar-no" class="form-control">
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-sm-2"></div>

                        <div class="col-sm-4"><button onclick="inputlariYollucamBen()" type="button"
                                class="btn btn-warning w-100">Ara</button>
                        </div>
                        <div class="col-sm-4"> <button type="button" class="btn btn-info w-100"
                                data-bs-dismiss="modal">İptal</button>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="yazar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Yazar sorguları : </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="">
                        <div class="row mb-3">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 ">
                                <label class="form-label ">Ad :</label>
                                <input type="text" id="real-yazar-isim" class="form-control">
                            </div>
                            <div class="col-md-5 ">
                                <label class="form-label ">Soyad :</label>
                                <input type="text" id="real-yazar-soyad" class="form-control">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"></div>

                            <div class="col-md-6 ">
                                <label class="form-label ">No :</label>
                                <input type="text" id="real-yazar-no" class="form-control">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <label class="form-label ">Öğr. Tür :</label>
                                <input class="form-control" id="real-yazar-ogretim-turu"></input>
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-sm-2"></div>

                        <div class="col-sm-4"><button onclick="inputlariYollucamBen()" type="button"
                                class="btn btn-warning w-100">Ara</button>
                        </div>
                        <div class="col-sm-4"> <button type="button" class="btn btn-success w-100"
                                data-bs-dismiss="modal">İptal</button>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="ders">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ders sorguları : </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="">
                        <div class="row mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <label class="form-label ">Dersin Adı: :</label>
                                <select class="form-select form-select-lg mb-2" aria-label=".form-select-lg"
                                    id="real-ders-ad">
                                    <option selected>Lütfen ders seçiniz</option>
                                    <option value="ARAŞTIRMA PROBLEMLERİ">ARAŞTIRMA PROBLEMLERİ</option>
                                    <option value="BİTİRME PROJESİ">BİTİRME PROJESİ</option>
                                </select>
                            </div>

                            <div class="col-md-3"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"></div>

                            <div class="col-md-3"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"></div>

                            <div class="col-md-3"></div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-sm-2"></div>

                        <div class="col-sm-4"><button onclick="inputlariYollucamBen();" type="submit"
                                class="btn btn-primary w-100">Ara</button>
                        </div>
                        <div class="col-sm-4"> <button onclick="kapat()" type="button" class="btn btn-danger w-100"
                                data-bs-dismiss="modal">İptal</button>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="proje">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Proje sorguları : </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="">
                        <div class="row mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <label class="form-label ">Proje Baslığı :</label>
                                <input type="text" id="real-proje-basligi" class="form-control">
                            </div>

                            <div class="col-md-3"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <label class="form-label ">Özet :</label>
                                <textarea id="real-ozet" class="form-control form-textarea" maxlength="500" rows="15"
                                    style="overflow:auto; resize: none;"></textarea>
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-sm-2"></div>

                        <div class="col-sm-4"><button onclick=" inputlariYollucamBen();" type="button"
                                class="btn btn-primary w-100">Ara</button>
                        </div>
                        <div class="col-sm-4"> <button onclick="kapat()" type="button" class="btn btn-secondary w-100"
                                data-bs-dismiss="modal">İptal</button>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="anahtar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Anahtar kelime sorguları : </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="">
                        <div class="row mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <label class="form-label ">Anahtar Kelimeler :</label>
                                <input id="real-anahtar_kelimeler" type="text" class="form-control">
                            </div>

                            <div class="col-md-3"></div>
                        </div>



                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-sm-2"></div>

                        <div class="col-sm-4"><button onclick="inputlariYollucamBen () ;" type="button"
                                class="btn btn-primary w-100">Ara</button>
                        </div>
                        <div class="col-sm-4"> <button onclick="kapat()" type="button" class="btn btn-danger w-100"
                                data-bs-dismiss="modal">İptal</button>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="donem">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dönem sorguları : </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="">
                        <div class="row mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <label class="form-label ">Dönemi girin :</label>
                                <select class="form-select form-select-lg mb-2" aria-label=".form-select-lg"
                                    id="real-teslim-donem">
                                    <option selected value="Lütfen dönemi seçiniz">Lütfen dönemi seçiniz</option>
                                    <option value="Sonbahar Dönemi2010 -- 2011">Sonbahar dönemi 2010-2011</option>
                                    <option value="İlkbahar Dönemi2010 -- 2011">İlkbahar dönemi 2010-2011</option>
                                    <option value="Sonbahar Dönemi2011 -- 2012">Sonbahar dönemi 2011-2012</option>
                                    <option value="İlkbahar Dönemi2011 -- 2012">İlkbahar dönemi 2011-2012</option>
                                    <option value="Sonbahar Dönemi2012 -- 2013">Sonbahar dönemi 2012-2013</option>
                                    <option value="İlkbahar Dönemi2012 -- 2013">İlkbahar dönemi 2012-2013</option>
                                    <option value="Sonbahar Dönemi2013 -- 2014">Sonbahar dönemi 2013-2014</option>
                                    <option value="İlkbahar Dönemi2013 -- 2014">İlkbahar dönemi 2013-2014</option>
                                    <option value="Sonbahar Dönemi2014 -- 2015">Sonbahar dönemi 2014-2015</option>
                                    <option value="İlkbahar Dönemi2014 -- 2015">İlkbahar dönemi 2014-2015</option>
                                    <option value="Sonbahar Dönemi2015 -- 2016">Sonbahar dönemi 2015-2016</option>
                                    <option value="İlkbahar Dönemi2015 -- 2016">İlkbahar dönemi 2015-2016</option>
                                    <option value="Sonbahar Dönemi2016 -- 2017">Sonbahar dönemi 2016-2017</option>
                                    <option value="İlkbahar Dönemi2016 -- 2017">İlkbahar dönemi 2016-2017</option>
                                    <option value="Sonbahar Dönemi2017 -- 2018">Sonbahar dönemi 2017-2018</option>
                                    <option value="İlkbahar Dönemi2017 -- 2018">İlkbahar dönemi 2017-2018</option>
                                    <option value="Sonbahar Dönemi2018 -- 2019">Sonbahar dönemi 2018-2019</option>
                                    <option value="İlkbahar Dönemi2018 -- 2019">İlkbahar dönemi 2018-2019</option>
                                    <option value="Sonbahar Dönemi2019 -- 2020">Sonbahar dönemi 2019-2020</option>
                                    <option value="İlkbahar Dönemi2019 -- 2020">İlkbahar dönemi 2019-2020</option>
                                    <option value="Sonbahar Dönemi2020 -- 2021">Sonbahar dönemi 2020-2021</option>
                                    <option value="İlkbahar Dönemi2020 -- 2021">İlkbahar dönemi 2020-2021</option>
                                    <option value="Sonbahar Dönemi2021 -- 2022">Sonbahar dönemi 2021-2022</option>
                                    <option value="İlkbahar Dönemi2021 -- 2022">İlkbahar dönemi 2021-2022</option>
                                    <option value="Sonbahar Dönemi2022 -- 2023">Sonbahar dönemi 2022-2023</option>
                                    <option value="İlkbahar Dönemi2022 -- 2023">İlkbahar dönemi 2022-2023</option>
                                    <option value="Sonbahar Dönemi2023 -- 2024">Sonbahar dönemi 2023-2024</option>
                                    <option value="İlkbahar Dönemi2023 -- 2024">İlkbahar dönemi 2023-2024</option>
                                </select>
                            </div>

                            <div class="col-md-3"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"></div>


                            <div class="col-md-3"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"></div>

                            <div class="col-md-3"></div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-sm-2"></div>

                        <div class="col-sm-4"><button onclick="inputlariYollucamBen() ; " type="button"
                                class="btn btn-info w-100">Ara</button>
                        </div>
                        <div class="col-sm-4"> <button type="button" class="btn btn-secondary w-100"
                                data-bs-dismiss="modal">İptal</button>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>




    {% for post in posts %}
    <hr class="mt-5 mb-5">
    <div class="container-fluid" id="icerik">
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="mt-2">Kullanıcı Bilgileri</h3>
                <div class="row mt-3">
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; ">İsim :</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control"
                            style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_isim_list}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Soyisim :</label>
                        </div>
                        <div class=" col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_soy_isim_list}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; font-size: 18px;">Kullanıcı
                            Adı :</label>
                    </div>
                    <div class=" col-md-2 mt-2">
                        <label for="" class="form-control"
                            style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_no_list}}</label>
                    </div>

                </div>
                <div class="row mt-4">

                        <div class="col-md-3">
                            <label for="" class="form-control"
                                style="border: 3px dashed black; ">Şifre :</label>
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: rgb(144, 95, 95) yellow blue green">{{post.yazar_ogretim_turu_list}}</label>
                        </div>
                        <div class="col-md-3"><label for="" class="form-control"
                                style="border: 3px dashed black; ">Email :</label>
                        </div>

                        <div class="col-md-3"><label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_ogretim_turu_list}}</label>



                        </div>
      
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row mt-5">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="mt-2">Yazar Bilgileri</h3>
                <div class="row mt-3">
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; ">İsim :</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control"
                            style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_isim_list}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Soyisim :</label>
                        </div>
                        <div class=" col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_soy_isim_list}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; font-size: 18px;">Öğrenci
                            numarası :</label>
                    </div>
                    <div class=" col-md-2 mt-2">
                        <label for="" class="form-control"
                            style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_no_list}}</label>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                        <div class="col-md-5" style="float: left;"><label for="" class="form-control"
                                style="border: 3px dashed black; ">Öğretim türü :</label>
                        </div>

                        <div class="col-md-5" style="float: left; margin-left: 55px;"><label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.yazar_ogretim_turu_list}}</label>



                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row mt-5">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="mt-2">Ders Bilgisi</h3>
                <div class="row mt-3">
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Ders Adı :</label>
                        </div>
                        <div class=" col-md-4 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.ders_adi_list}}</label>
                    </div>
                    <div class="col-md-8 mt-2">

                    </div>

                </div>

                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row mt-5">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="mt-2">Proje Bilgileri</h3>
                <div class="row mt-3">

                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Proje başlık :</label>
                        </div>
                        <div class=" col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.proje_baslik_list}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Özet :</label>
                        </div>
                        <div class=" col-md-6 mt-2">
                            <textarea class="form-control" rows="3" style="resize: none;"
                                style="border: 3px dashed black">{{post.ozet_list}}</textarea>
                    </div>

                </div>

                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row mt-5">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="mt-2">Anahtar Kelime Bilgileri</h3>
                <div class="row mt-3">
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Anahtar Kelimeler :</label>
                        </div>
                        <div class=" col-md-10 mt-2">

                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">
                                {% for anahtarlar in post.anahtar_kelimeler_list %}
                                {{anahtarlar}}
                                {% endfor %}
                            </label>
                    </div>


                </div>

                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row mt-5">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="mt-2">Dönem Bilgileri</h3>
                <div class="row mt-3">
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Teslim tarihi :</label>
                        </div>
                        <div class=" col-md-10 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.teslim_donem_list}}</label>
                    </div>


                </div>

                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row mt-5">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="mt-2">Danışman Bilgileri</h3>
                <div class="row mt-3">
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Danışman Ad :</label>
                        </div>
                        <div class=" col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.danisman_isim_list}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Danışman Soyisim :</label>
                        </div>
                        <div class=" col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.danisman_soyisim_list}}</label>
                    </div>
                    <div class="col-md-2 mt-2">
                        <label for="" class="form-control" style="border: 3px dashed black; "">Danışman Unvan :</label>
                        </div>
                        <div class=" col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.danisman_unvan_list}}</label>
                    </div>

                </div>

                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3 class="mt-2">Juri Bilgileri</h3>
                    <div class="row mt-3">
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control" style="border: 3px dashed black; ">1.Jürinin Adı
                                :</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.juri_isim_list.0}}</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control" style="border: 3px dashed black; ">1.Jürinin Soyisimi
                                :</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.juri_soyisim_list.0}}</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control" style="border: 3px dashed black; ">1.Jürinin Unvanı
                                :</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control"
                                style="border: 3px dashed ; border-color: red yellow blue green">{{post.juri_unvan_list.0}}</label>
                        </div>

                    </div>

                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row mt-3">
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control" style="border: 3px dashed black; "">2.Jürinin Adı :</label>
                            </div>
                            <div class=" col-md-2 mt-2">
                                <label for="" class="form-control"
                                    style="border: 3px dashed ; border-color: red yellow blue green">{{post.juri_isim_list.1}}</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control" style="border: 3px dashed black; "">2.Jürinin Soyisimi :</label>
                            </div>
                            <div class=" col-md-2 mt-2">
                                <label for="" class="form-control"
                                    style="border: 3px dashed ; border-color: red yellow blue green">{{post.juri_soyisim_list.1}}</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="" class="form-control" style="border: 3px dashed black; "">2.Jürinin Unvanı :</label>
                            </div>
                            <div class=" col-md-2 mt-2">
                                <label for="" class="form-control"
                                    style="border: 3px dashed ; border-color: red yellow blue green">{{post.juri_unvan_list.1}}</label>
                        </div>

                    </div>

                    <div class="col-md-1"></div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button onclick="" class="btn btn-outline-info w-100"><a href="{% url 'content' %}"
                        style="text-decoration: none; color:black; font-size: 22px;">Kullanıcı ekranına
                        dön</a></button>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3"> <i class="fas fa-times goksel"></i></div>
            <div class="col-md-3"> <i class="fas fa-times goksel"></i></div>
            <div class="col-md-3"> <i class="fas fa-times goksel"></i></div>
            <div class="col-md-3"> <i class="fas fa-times goksel"></i></div>
        </div>

        {% endfor %}


    </div>
    </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>

    </script>
</body>

</html>