<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
    <style>
        .goksel {
            margin-left: 40%;
        }
        .basliklar{
            font-family: 'Comforter', cursive;
            font-weight: bolder;
        }
        body{
            background-color: wheat;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center basliklar mt-3" style="font-size: 65px;">Hangi Tür Kullanıcısınız</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-2">
                    <img src="/User1.png" class="card-img-top m-auto" style="width: 89%;">
                    <div class="card-body">
                        <h1 class="card-title text-center basliklar mt-3 " style="font-size: 45px;">Admin</h1>
                        <p>Yonetim paneli aracılığıyla yeni kullanıcı ekleme, silme ve güncelleme işlemleri yapar.</p>
                        <a href="" class="btn btn-outline-primary btn-lg goksel">Giriş Yap</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mt-2">
                    <img src="/user.png" class="card-img-top " style="width: 100%;">
                    <div class="card-body">
                        <h1 class="card-title text-center basliklar mt-3" style="font-size: 45px;">Kullanıcılar</h1>
                        <p>Kullanıcıların sisteme pdf yükleyebilir.Bu alanda projeyi teslim eden öğrencilerin pdf’leri
                            yükleyecektirler.</p>
                        <a href="" class="btn btn-outline-primary btn-lg goksel">Giriş Yap</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>

</html>