<!doctype html>
{% load static%}
<html lang="tr">

<head>
    <meta charset="utf-8">


    <link rel="stylesheet" type="text/css" href="{% static  'home/css/bootstrap.css'%}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Listemiz</title>
    <style>
        #yazar .modal-header {
            background: darkblue;
            color: #fff;
        }

        #yazar .modal-body {
            background-color: wheat;
        }

        #yazar .modal-footer {
            background: darkblue;
            color: #fff;
        }

        #ders .modal-header {
            background: rgb(255, 255, 115);
            color: black;
        }

        #ders .modal-body {
            background-color: rgb(164, 142, 164);
        }

        #ders .modal-footer {
            background: rgb(255, 255, 115);
            color: black;
        }

        #proje .modal-header {
            background: darkgreen;
            color: #fff;
        }

        #proje .modal-body {
            background-color: wheat;
        }

        #proje .modal-footer {
            background: darkgreen;
            color: #fff;
        }

        #anahtar .modal-header {
            background: rgb(32, 30, 30);
            color: #fff;
        }

        #anahtar .modal-body {
            background-color: wheat;
        }

        #anahtar .modal-footer {
            background: rgb(32, 30, 30);
            color: #fff;
        }

        #donem .modal-header {
            background: red;
            color: #fff;
        }

        #donem .modal-body {
            background-color: wheat;
        }

        #donem .modal-footer {
            background: red;
            color: #fff;
        }
    </style>
</head>


<body>
    <div class="container-fluid">
        <h1 class="text-center">Sorgu Ekranına Hoş Geldiniz</h1>
        <div class="row mt-5">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-primary px-0 w-100" data-bs-toggle="modal"
                    data-bs-target="#yazar">Yazar</button>
            </div>
            <div class="col-md-2 col-12">
                <button type="button" class="btn btn-outline-warning px-0 w-100" data-bs-toggle="modal"
                    data-bs-target="#ders">Ders</button>

            </div>
            <div class=" col-md-2 col-12">
                <button type="button" class="btn btn-outline-success px-0 w-100" data-bs-toggle="modal"
                    data-bs-target="#proje">Proje</button>

            </div>
            <div class=" col-md-2 col-12">
                <button type="button" class="btn btn-outline-dark w-100 px-0" data-bs-toggle="modal"
                    data-bs-target="#anahtar">Anahtar kelime</button>

            </div>
            <div class=" col-md-2 col-12">
                <button type="button" class="btn btn-outline-danger  w-100 px-0" data-bs-toggle="modal"
                    data-bs-target="#donem">Dönem</button>

            </div>
            <div class=" col-md-1">
            </div>

        </div>
        <div class="modal" id="yazar">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Yazar sorguları : </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="">
                            <div class="row mb-3">
                                <div class="col-md-1"></div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Ad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Soyad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>

                                <div class="col-md-6 ">
                                    <label class="form-label ">No :</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 ">
                                    <label class="form-label ">Öğr. Tür :</label>
                                    <input class="form-control"></input>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col-sm-2"></div>

                            <div class="col-sm-4"><button onclick="ac()" type="button"
                                    class="btn btn-warning w-100">Ara</button>
                            </div>
                            <div class="col-sm-4"> <button onclick="kapat()" type="button" class="btn btn-success w-100"
                                    data-bs-dismiss="modal">İptal</button>
                            </div>
                            <div class="col-sm-2"></div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="ders">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ders sorguları : </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="">
                            <div class="row mb-3">
                                <div class="col-md-1"></div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Ad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Soyad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>

                                <div class="col-md-6 ">
                                    <label class="form-label ">No :</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 ">
                                    <label class="form-label ">Öğr. Tür :</label>
                                    <input class="form-control"></input>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col-sm-2"></div>

                            <div class="col-sm-4"><button onclick="ac()" type="button"
                                    class="btn btn-primary w-100">Ara</button>
                            </div>
                            <div class="col-sm-4"> <button onclick="kapat()" type="button" class="btn btn-danger w-100"
                                    data-bs-dismiss="modal">İptal</button>
                            </div>
                            <div class="col-sm-2"></div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="proje">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Proje sorguları : </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="">
                            <div class="row mb-3">
                                <div class="col-md-1"></div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Proje ad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Ders ad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>

                                <div class="col-md-6 ">
                                    <label class="form-label ">Teslim dönemi :</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 ">
                                    <label class="form-label ">Özet :</label>
                                    <textarea class="form-control form-textarea" maxlength="500" rows="15"
                                        style="overflow:auto; resize: none;"></textarea>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col-sm-2"></div>

                            <div class="col-sm-4"><button onclick="ac()" type="button"
                                    class="btn btn-primary w-100">Ara</button>
                            </div>
                            <div class="col-sm-4"> <button onclick="kapat()" type="button"
                                    class="btn btn-secondary w-100" data-bs-dismiss="modal">İptal</button>
                            </div>
                            <div class="col-sm-2"></div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="anahtar">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Anahtar kelime sorguları : </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="">
                            <div class="row mb-3">
                                <div class="col-md-1"></div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Ad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-5 ">
                                    <label class="form-label ">Soyad :</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>

                                <div class="col-md-6 ">
                                    <label class="form-label ">No :</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 ">
                                    <label class="form-label ">Öğr. Tür :</label>
                                    <input class="form-control"></input>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col-sm-2"></div>

                            <div class="col-sm-4"><button onclick="ac()" type="button"
                                    class="btn btn-primary w-100">Ara</button>
                            </div>
                            <div class="col-sm-4"> <button onclick="kapat()" type="button" class="btn btn-danger w-100"
                                    data-bs-dismiss="modal">İptal</button>
                            </div>
                            <div class="col-sm-2"></div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="donem">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dönem sorguları : </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="">
                            <div class="row mb-3">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 ">
                                    <label class="form-label ">Dönemi girin :</label>
                                    <input type="text" class="form-control">
                                </div>

                                <div class="col-md-3"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>

                                <div class="col-md-6 ">
                                    <label class="form-label ">No :</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 ">
                                    <label class="form-label ">Öğr. Tür :</label>
                                    <input class="form-control"></input>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col-sm-2"></div>

                            <div class="col-sm-4"><button onclick="ac()" type="button"
                                    class="btn btn-info w-100">Ara</button>
                            </div>
                            <div class="col-sm-4"> <button onclick="kapat()" type="button"
                                    class="btn btn-secondary w-100" data-bs-dismiss="modal">İptal</button>
                            </div>
                            <div class="col-sm-2"></div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-dark" id="gizli" style="display: hidden; height: 550px;">

        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button onclick="kapat()" class="btn btn-outline-info w-100" >İçeriği kapat</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>
        var alan = document.getElementById('gizli');
        window.onload = function () {
            alan.style.visibility = "hidden";
        };

        function ac() {
            alan.style.visibility = "visible";
        }
        function kapat() {
            alan.style.visibility = "hidden";
        }
    </script>
</body>

</html>