
<!DOCTYPE html>
{% load static%}
<html lang="tr">
 

<head>
    <meta charset="UTF-8">
    <title>Kayıt ekranı</title>  
    <link rel="stylesheet"type="text/css" href="{% static  'home/css/bootstrap.css'%}">
    <script type="text/javascript" src="{% static  'home/js/jquery.js'%}" ></script>
    <script type="text/javascript" src="{% static  'home/js/popper.min.js'%}" ></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
</head>

<style>
    .card{
        border: 2px dashed red;
    }

        .baslik {
            text-align: center;
            font-family: 'Comforter', cursive;
            font-weight: bolder;
            font-size: 70px;
            color: rgb(245, 209, 142);
        }

        body {
            /*background-color:rgba(200, 255, 0, 0.483);*/
            background-color: rgb(243, 243, 243);
        }

        div>* {
            color: wheat;
            font-weight: bolder;
            font-size: 18px;

        }

        div>input:enabled {
            background-color: rgb(0, 253, 236);
        }

        div>input:hover {
            background-color: rgb(247, 212, 247);
        }

        .form_control:focus {
            border-color: #FF0000;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
        }
     
    </style>
</head>

<body>
   
    {% for  message in messages%}
    <div>{{message}}</div>
    {%endfor%} 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-1 col-lg-1 " style="height: 400px;"></div>
            <div class="col-md-10 col-10 col-lg-10">
                <h1 class="baslik mt-5">Kullanıcı Ekranına Hoş Geldiniz</h1>
                <div class="row">
                    <div class="col-md-4 mt-2  text-left">
                        <h2 class="baslik mt-5" class="text-center" style="font-size: 40px;  text-align:centre;">Giriş Yap</h2>
                        <form action="" method="post" class="mt-2">
                            {%csrf_token%}
                            <div class="row mt-3"">
                                <div class="col-md-4 mt-2 >
                                    <label for="username" >Kullanıcı Ad :</label>

                                </div>
                                <div class="col-md-8 mt-2">
                                    <input type="text" name="loginusername" id="username" placeholder="username"
                                        class="form-control" required="Required"  >

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-4 mt-3">
                                    <label for="password1">Şifre : </label>

                                </div>
                                <div class="col-md-8 mt-3">
                                    <input type="password" name="loginpassword" id="password1" placeholder="Pass"
                                        class="form-control" required="Required" >

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3"></div>
                                <div class="col-6 mt-3"> <button type="submit" name="loginbutton" value="1" class="btn-outline-warning w-100 mt-3"
                                        style="white-space: nowrap;">&nbsp;Giriş Yap</button>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 mt-2 ">
                        <h2 class="baslik mt-5" class="text-center" style="font-size: 40px;">Kayıt Ol</h2>
                        <form action="" method="post" class="mt-2">
                            {%csrf_token%}
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="first_name" class="form-check-label">Ad : </label>
                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="text" name="first_name" id="first_name" placeholder="firstname"
                                        class="form-control" required="Required" >
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="last_name">Soyad : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="text" name="last_name" id="last_name" placeholder="lastname"
                                        class="form-control" required="Required" >

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="username">Kullanıcı Ad :</label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="text" name="username" id="username" placeholder="username"
                                        class="form-control" required="Required" >

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="email">Email : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="email" name="email" id="email" placeholder="mail" class="form-control" required="Required" >

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="password1">Şifre : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="password" name="password1" id="password1" placeholder="Pass"
                                        class="form-control" required="Required" >

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="password2">Şifre Tekrar : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="password" name="password2" i d="password2" placeholder="Confirm Pass"
                                        class="form-control" required="Required" >

                                </div>

                            </div>
                            <div class="row mt-3">
                                <div class="col-3"></div>
                                <div class="col-6"> <button name="kayitbutton" value="1" type="submit"  class="btn-outline-success w-100 mt-2 ">&nbsp;Kayıt
                                        Ol</button>
                                </div>
                                <div class="col-3"></div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-1 col-1 col-lg-1 " style="height: 400px;"></div>
        </div>

    </div>




</body>
    
</html>