<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Kayıt ekranı</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <style>
        * {
            margin: 0px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-1 col-lg-1 " style="height: 400px;"></div>
            <div class="col-md-10 col-10 col-lg-10 bg-light">
                <h1 class="font-weight-bold">Kullanıcı Ekranına Hoşgeldiniz</h1>
                <div class="row">
                    <div class="col-md-5 mt-2">
                        <h2>Giriş Yap</h2>
                        <form action="index.html" method="post" class="mt-2">
                            <div class="row mt-2">
                                <div class="col-md-3 mt-2">
                                    <label for="username">Kullanıcı Ad :</label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="text" name="username" id="username" placeholder="username"
                                        class="form-control">

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3 mt-2">
                                    <label for="password1">Şifre : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="password" name="password1" id="password1" placeholder="Pass"
                                        class="form-control">

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4"></div>
                                <div class="col-4"> <button type="submit" class="btn-primary w-100"
                                        style="white-space: nowrap;">Giriş Yap</button>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7 mt-2">
                        <h2>Kayıt OL</h2>
                        <form action="index.html" method="post" class="mt-2">
                            <div class="row mt-2">
                                <div class="col-md-3 mt-2">
                                    <label for="first_name" class="form-check-label">Ad : </label>
                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="text" name="first_name" id="first_name" placeholder="firstname"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="last_name">Soyad : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="text" name="last_name" id="last_name" placeholder="lastname"
                                        class="form-control">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="username">Kullanıcı Ad :</label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="text" name="username" id="username" placeholder="username"
                                        class="form-control">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="email">Email : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="email" name="email" id="email" placeholder="mail" class="form-control">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="password1">Şifre : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="password" name="password1" id="password1" placeholder="Pass"
                                        class="form-control">

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3 mt-2">
                                    <label for="password2">Şifre Tekrar : </label>

                                </div>
                                <div class="col-md-9 mt-2">
                                    <input type="password" name="password2" id="password2" placeholder="Confirm Pass"
                                        class="form-control">

                                </div>

                            </div>
                            <div class="row mt-3">
                                <div class="col-4"></div>
                                <div class="col-4"> <button type="submit" class="btn-outline-success w-75">Kayıt
                                        Ol</button>
                                </div>
                                <div class="col-4"></div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-1 col-1 col-lg-1 " style="height: 400px;"></div>
        </div>

    </div>




</body>

</html>